@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Condiment&family=Knewave&family=Orbitron:wght@400..900&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Condiment&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Orbitron:wght@400..900&family=Trade+Winds&display=swap');
:root {
  --primary: #111827;
  --secondary: #374151;
  --accent-1: #991B1B;
  --accent-2: #cb9a08;

  --heading-font:  "Orbitron", sans-serif;
  --paragraph-font: "Inter", sans-serif;
}

header{
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
header img{
    width: 6%;
    border: white 5px solid;
    border-radius: 5px;
    margin-left: 10px;
}
nav a{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: var(--accent-2);
    height: 80px;
    line-height: 80px;
    width: 300px;
}
nav a:hover{
    background-color: #111827;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0 150px;
    padding: 100px;
}
